version: "3.7"
services:
  ts-authkey-test:
    image: tailscale/tailscale:latest
    container_name: ts-authkey-test
    hostname: authkey-test
    environment:
      - TS_AUTHKEY=tskey-auth-kjXQCNkJ4F11CNTRL-DALunyPnYQQ2kWQbXTfoQQ5LvW4bNjMqc
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_USERSPACE=false
    volumes:
      - ${PWD}/ts-authkey-test/state:/var/lib/tailscale
    devices:
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - net_admin
    restart: unless-stopped

  localai-app:
    image: localai-app   # Use the image you built
    network_mode: service:ts-authkey-test
    depends_on:
      - ts-authkey-test